
nav
{
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    height: 70px; 
    font-size: 20px;
}

.container-header-nav
{
    display: flex;
    align-items: center;
    gap: 10px
}