body 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}

.container-box
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box
{
    box-shadow: 0 0px 20px rgb(0 0 0 / 12%);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    gap: 25px;
    display: grid;
}

.container-btn
{
    display: flex;
    gap: 10px;
    height: 50px;
}

.container-input
{
    display: grid;
    gap: 20px;
}

.container-title
{
    text-align: center;
}

.container-header
{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.container-acciones
{
    padding: 40px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

.container-tabla
{
    height: calc(100% - 76px);
}

.container-intervalo
{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.container-historico
{
    display: flex;
    align-items: center;
    gap: 10px;
}