body 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-header
{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.container-acciones
{
    padding: 20px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
}

.container-tabla
{
    height: calc(100% - 76px);
}